@page "/dataArtifactPage"

@using GalacticDataExchange.Shared;

@inject DataArtifactDatabaseService DataArtifactDatabaseService
@inject ISensorService SensorService

<EditForm Model="_DataArtifactInputModel" OnValidSubmit="SubmitDataArtifact">
	<DataAnnotationsValidator />
	<div class="container my-5">
		<div class="row">
			<div class="col-4">
				<div class="card shadow-sm">
					<div class="card-header bg-primary text-dark mb-0">
						<h5 class="card-title justify-content-center">Upload Artifact</h5>
					</div>
					<div class="card-body">

						<div>
							<label>Select File Type:</label>
							<InputRadioGroup TValue="string" @bind-Value="_SelectedFileType" class="mb-3">
								<InputRadio TValue="string" Value=@("Image") /> Image
								<InputRadio TValue="string" Value=@("Video") /> Video
							</InputRadioGroup>


							@if (_SelectedFileType == "Image")
							{
								<!-- Image File Upload -->
								<div class="mb-3">
									<label class="form-label">Choose a file...</label>
									<InputFile OnChange="HandleFileSelected" />
								</div>

								<!-- Display Box for holding image-->
								<div class="mb-3">
									<div style="width: 300px; height: 300px; border: 1px solid #ccc; overflow:hidden;">
										@if (!string.IsNullOrEmpty(_imageDataURL))
										{
											<img src="@_imageDataURL" alt="Uploaded Image" style="width: 100%; height: 100%; object-fit:cover;" />
										}
										else
										{
											<p>No image uploaded.</p>
										}
									</div>
								</div>

							}
							else if (_SelectedFileType == "Video")
							{
								<!-- Video File Upload -->
								<div class="mb-3">
									<label class="form-label">Choose a video file...</label>
									<InputFile OnChange="HandleVideoFileSelected" />
								</div>

								<!-- Display Box for holding video-->
								<div class="mb-3">
									<div style="width: 300px; height: 300px; border: 1px solid #ccc; overflow:hidden;">
										@if (!string.IsNullOrEmpty(_DataArtifactInputModel.VideoURL))
										{
											<video width="300" controls style="height: 100%">
												<source src="@_DataArtifactInputModel.VideoURL" type="video/mp4" />
												Your browser does not support the video tag.
											</video>
										}
										else
										{
											<p>No video uploaded.</p>
										}
									</div>
								</div>
							}
						</div>
					</div>
				</div>
			</div>
			<div class="col-8">
				<div class="card shadow-sm">
					<div class="card-header bg-primary text-dark mb-0">
						<h5 class="card-title justify-content-center">Data Artifact Page</h5>
					</div>
					<div class="card-body">

						<!-- Data Artifact Name -->
						<div class="mb-3">
							<label for="dataArtifactName" class="form-label">Name</label>
							<input type="text" class="form-control" id="dataArtifactName" placeholder="Name" @bind="_DataArtifactInputModel.Name" />
							<ValidationMessage For="@(() => _DataArtifactInputModel.Name)" />
						</div>

						<!-- Data Artifact Type ID -->
						<div class="mb-3">
							<label for="dataArtifactTypeID" class="form-label">Artifact Type ID</label>
							<InputSelect class="form-select" id="dataArtifactTypeID" @bind-Value="_DataArtifactInputModel.DataArtifactTypeID">
								<option value="0">-- Select Artifact Type --</option>
								<option value="1">Holographic Memory Cube</option>
								<option value="2">Encrypted Sensor Log</option>
								<option value="3">Digital Relic Image</option>
							</InputSelect>
							<ValidationMessage For="@(() => _DataArtifactInputModel.DataArtifactTypeID)" />
						</div>

						<!-- Data Artifact Raw Alien Text-->
						<div class="mb-3">
							<label for="dataArtifactRawAlienText" class="form-label">Raw Artifact Text</label>
							<textarea class="form-control" id="dataArtifactRawAlienText" rows="3" @bind="_rawText"></textarea>
							<ValidationMessage For="@(() => _rawText)" />
						</div>

						<!-- Data Artifact Source-->
						<div class="mb-3">
							<label for="dataArtifactSource" class="form-label">Source</label>
							<input type="text" class="form-control" id="dataArtifactSource" placeholder="Source" @bind="_DataArtifactInputModel.Source" />
							<ValidationMessage For="@(() => _DataArtifactInputModel.Source)" />
						</div>

						<!-- Sensor portion -->
						<div class="mb-3">
							@if (Sensors == null)
							{
								<p><em>Loading sensors...</em></p>
							}
							else if (!Sensors.Any())
							{
								<p>No sensors available.</p>
							}
							else
							{
								<table class="table">
									<thead>
										<tr>
											<th>Sensor ID</th>
											<th>Sensor Type</th>
											<th>Location</th>
										</tr>
									</thead>
									<tbody>
										@foreach (var sensor in Sensors)
										{
											<tr>
												<td>@sensor.SensorID</td>
												<td>@sensor.SensorType</td>
												<td>@sensor.Location</td>
											</tr>
										}
									</tbody>
								</table>
							}
						</div>
						<button type="submit" class="btn btn-primary align-items-end">Submit</button>
					</div>

					<!-- Display the encoded Alien text -->
					@if (!string.IsNullOrEmpty(_DataArtifactInputModel.RawAlienText))
					{
						<div class="ms-3 mb-3">
							<p>
								<strong>Alien Text:</strong> @_DataArtifactInputModel.RawAlienText
							</p>
						</div>

					}

					<!-- Display the decoded Alien text -->
					@if (!string.IsNullOrEmpty(_DataArtifactInputModel.TranslatedText))
					{
						<div class="ms-3 mb-3">
							<p>
								<strong>Decoded Alien Text:</strong> @_DataArtifactInputModel.TranslatedText
							</p>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
	<ValidationSummary />
</EditForm>
@code {

	// Common fields for managing data artifacts and file uploads
	private DataArtifact _DataArtifact { get; set; } = new DataArtifact();
	private DataArtifactInputModel _DataArtifactInputModel { get; set; } = new DataArtifactInputModel();
	private string _rawText = String.Empty;
	private string _imageDataURL = String.Empty;
	private string _ErrorMessage = String.Empty;
	private string _SelectedFileType { get; set; } = "Image";
	private List<Sensor> Sensors;

	protected override async Task OnInitializedAsync()
	{
		Sensors = await SensorService.GetSensorsAsync();
	}

	/// <summary>
	/// Creates a new instance of the DataArtifact class and assigns the values from the DataArtifactInputModel.
	/// Inserts the DataArtifact into the database asynchronously.
	/// </summary>
	/// <returns>A task representing the async operation.</returns>
	protected async Task SubmitDataArtifact()
	{
		// Encode the raw text and decode to simulate Alien language conversion
		_DataArtifactInputModel.RawAlienText = AlienLanguageConverter.Encode(_rawText);
		_DataArtifactInputModel.TranslatedText = AlienLanguageConverter.Decode(_rawText);

		// Encrypt the DataArtifactInputModel EncryptionKey using the EncryptionHelper
		_DataArtifactInputModel = EncryptionHelper.EncryptionKeyToDataArtifact(_DataArtifactInputModel);

		if (_DataArtifactInputModel == null)
		{
			_ErrorMessage = "Please fill in all required fields.";
			return;
		}

		if (string.IsNullOrEmpty(_DataArtifactInputModel.ImageURL) && string.IsNullOrEmpty(_DataArtifactInputModel.VideoURL))
		{
			// Display error message if no image or video is uploaded
			_ErrorMessage = "Please upload an image or video.";
			return;
		}

		// Create a new DataArtifact instance using the input model
		_DataArtifact = new DataArtifact(

			_DataArtifactInputModel.Name,
			_DataArtifactInputModel.DataArtifactTypeID,
			_DataArtifactInputModel.ImageURL,
			_DataArtifactInputModel.RawAlienText,
			_DataArtifactInputModel.TranslatedText,
			_DataArtifactInputModel.Source,
			_DataArtifactInputModel.EncryptionKey,
			_DataArtifactInputModel.TimeStamp,
			_DataArtifactInputModel.VideoURL
	);

		// Check if the DataArtifact is not null before inserting
		if (_DataArtifact != null)
		{
			// Asyncally insert the DataArtifact into the database
			await DataArtifactDatabaseService.InsertDataArtifactAsync(_DataArtifact);
			return;

		}
	}

	/// <summary>
	/// Converts a selected file to base64 string and assigns it to the DataArtifactInputModel.
	/// </summary>
	/// <param name="e">The event args containing the selected file.</param>
	private async Task HandleFileSelected(InputFileChangeEventArgs e)
	{
		// Retrieves first file from event
		var file = e.File;

		// Open read stream for selected file, limited to 2 MB
		using var stream = file.OpenReadStream(maxAllowedSize: 2 * 1024 * 1024);

		// Creates temporary memory stream to hold file
		using var ms = new MemoryStream();

		// Async Copy file's stream into the memory stream
		await stream.CopyToAsync(ms);

		// Converts Memorystream into Bytes Array for base64 conversion
		var bytes = ms.ToArray();

		// Convert byte array to base 64 and format it
		_imageDataURL = $"data:{file.ContentType};base64,{Convert.ToBase64String(bytes)}";

		// Assigned base64 image to InputModel
		_DataArtifactInputModel.ImageURL = _imageDataURL;

	}

	/// <summary>
	/// Saves a selected video file to a local folder and
	///  sets the Input Model's VideoURL to the path.
	/// </summary>
	/// <param name="e">The event args containing the selected file.</param>
	private async Task HandleVideoFileSelected(InputFileChangeEventArgs e)
	{
		// Returns first file from event
		var file = e.File;

		// Define folder path for saving videos
		var folderPath = Path.Combine(Environment.CurrentDirectory, "wwwroot", "videos");

		// Create the directory that will hold the videos if it doesn't exist
		Directory.CreateDirectory(folderPath);

		// Combine folderPath and fileName and assign it to full filePath
		var filePath = Path.Combine(folderPath, file.Name);

		// Open stream to read selected file, limited to 50mb
		using var stream = file.OpenReadStream(maxAllowedSize: 50 * 1024 * 1024);

		// Create file stream to save file to disk
		using var fileStream = new FileStream(filePath, FileMode.Create);

		// Async copy the uploaded file content to new file
		await stream.CopyToAsync(fileStream);

		// Set the videoURL to relative path
		_DataArtifactInputModel.VideoURL = $"/videos/{file.Name}";
	}
}
