@page "/signup"

@using GalacticDataExchange.Shared;

@inject NavigationManager NavigationManager

<EditForm Model="@_signUpModel" OnValidSubmit="HandleSignUp">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div class="container my-5">
		<div class="row">
			<div class="col-6">
				<div class="card shadow-sm">
					<div class="card-body">
						<img src="images/galacticdataexchange2.png" alt="Galactic Data Exchange" class="img-fluid" />
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="card shadow-sm">
					<div class="card-header text-center">
						<img src="images/galacticlogo2.png" alt="Galactic Data Exchange" class="img-fluid logo-img mb-2" />
						<h5 class="card-title">Sign Up</h5>
						<p><em>Submit your Data Artifacts</em></p>
					</div>
					<div class="card-body d-flex justify-content-center">
						<div class="col-md-10 mx-auto">
							<div class="mb-3">
								<label for="email" class="form-label">Email</label>
								<InputText id="email" placeholder="Enter your email address" class="form-control" @bind-Value="_signUpModel.Email" />
								<ValidationMessage For="@(() => _signUpModel.Email)" />
							</div>
							<div class="mb-3">
								<label for="firstName" class="form-label">First Name</label>
								<InputText id="firstName" placeholder="Enter your first name" class="form-control" @bind-Value="_signUpModel.FirstName" />
								<ValidationMessage For="@(() => _signUpModel.FirstName)" />
							</div>
							<div class="mb-3">
								<label for="lastName" class="form-label">Last Name</label>
								<InputText id="lastName" placeholder="Enter your last name" class="form-control" @bind-Value="_signUpModel.LastName" />
								<ValidationMessage For="@(() => _signUpModel.LastName)" />
							</div>
							<div class="mb-3">
								<label for="password" class="form-label">Password</label>
								<InputText id="password" placeholder="Enter your password" class="form-control" @bind-Value="_signUpModel.Password" type="password" />
								<ValidationMessage For="@(() => _signUpModel.Password)" />
							</div>
							<div class="mb-3">
								<label for="confirmPassword" class="form-label">Confirm Password</label>
								<InputText id="confirmPassword" placeholder="Confirm your password" class="form-control" @bind-Value="_confirmPassword" type="password" />
								<ValidationMessage For="@(() => _confirmPassword)" />
							</div>
							<div class="mb-3">
								<button class="btn btn-primary rounded-pill shadow">Submit</button>
							</div>
							<div class="mb-3">
								<p>Already have an account? <a href="/lo in">Login here</a></p>
							</div>
						</div>
					</div>
					@if (!string.IsNullOrEmpty(_errorMessage))
					{
						<div class="alert alert-danger" role="alert">
							@_errorMessage
						</div>
					}
				</div>
			</div>
		</div>
	</div>

</EditForm>
@code {
	private UserSignUpModel _signUpModel { get; set; } = new UserSignUpModel();
	private string _confirmPassword { get; set; } = String.Empty;
	private string _errorMessage { get; set; } = String.Empty;
	private User _user = new User();

	private void HandleSignUp()
	{
		if (_signUpModel.Password != _confirmPassword)
		{
			_errorMessage = "Passwords do not match.";
			return;
		}
		else
		{
			_user = new User
				{
					Email = _signUpModel.Email,
					FirstName = _signUpModel.FirstName,
					LastName = _signUpModel.LastName,
					Password = _signUpModel.Password
				};

			NavigationManager.NavigateTo("/");
		}
	}
}
